<div id="sp-nav-left">
    <div id="nav-left-header">
        My questions
    </div>
    <div class="topcoat-list-container">
        <ul class="topcoat-list">
            <li class="topcoat-list__item">Left menu item 1</li>
            <li class="topcoat-list__item">Left menu item 2</li>
            <li class="topcoat-list__item">Left menu item 3</li>
        </ul>
    </div>
</div>
<div id="sp-nav-right">
    <div class="topcoat-list-container">
        <ul class="topcoat-list">
            <li class="topcoat-list__item">Right menu item 1</li>
            <li class="topcoat-list__item">Right menu item 2</li>
            <li class="topcoat-list__item">Right menu item 3</li>
        </ul>
    </div>
</div>
<div id="sp-page">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet" href="" ng-click="$spMenu.toggleLeft()">
                <span class="topcoat-icon topcoat-icon--menu-stack icon-menu"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">MindMaker</h1>
        </div>
        <div class="topcoat-navigation-bar__item right quarter">
            <a class="topcoat-icon-button--quiet" href="" ng-click="$spMenu.toggleRight()">
                <span class="topcoat-icon topcoat-icon--menu-stack icon-info"></span>
            </a>
        </div>
    </div>
    <div id="main-screen" class="center full">
        <span>Ask me anything</span>
        <form class="full">
            <textarea ng-model="question.questionText" id="question-input"></textarea>
            <textarea
                    ng-repeat="option in question.options"
                    ng-model="option.optionValue"
                    class="question-option"></textarea>
            <div ng-click="question.addOption()" ng-show="question.remainingOptions" class="option-tap">
                <span class="icon-add"></span>
                <span class="tap-text">Add answer option</span>
            </div>
            <button id="submit-button">Ask me now!</button>
        </form>
    </div>
</div>