<div id="sp-nav-left">
    <div class="topcoat-list-container">
        <ul class="topcoat-list">
            <li class="topcoat-list__item">Left menu item 1</li>
            <li class="topcoat-list__item">Left menu item 2</li>
            <li class="topcoat-list__item">Left menu item 3</li>
        </ul>
    </div>
</div>
<div id="sp-nav-right">
    <div class="topcoat-list-container">
        <ul class="topcoat-list">
            <li class="topcoat-list__item">Right menu item 1</li>
            <li class="topcoat-list__item">Right menu item 2</li>
            <li class="topcoat-list__item">Right menu item 3</li>
        </ul>
    </div>
</div>
<div id="sp-page">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet" href="" ng-click="$spMenu.toggleLeft()">
                <span class="topcoat-icon topcoat-icon--menu-stack icon-menu"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">MindMaker</h1>
        </div>
        <div class="topcoat-navigation-bar__item right quarter">
            <a class="topcoat-icon-button--quiet" href="" ng-click="$spMenu.toggleRight()">
                <span class="topcoat-icon topcoat-icon--menu-stack icon-info"></span>
            </a>
        </div>
    </div>
    <p>
        Jak by Dawid Legierski upadł i rozbił sobie głupi ryj, to bym się najbardziej cieszył. Każdy Legi ma brzydkiegooo pindooolaaa
        i nie ma być z czego dumnyyy. Gdyby mógł to by nosił na wierzchuuu i zabrał ze soboo do trumny.
    </p>
</div>