<div id="main-screen" class="center full">
    <span>Ask me anything</span>
    <form name="questionForm" class="full" ng-init="question = questionPrototype.newQuestion(5)">
        <textarea ng-model="question.questionText" id="question-input" ng-required="true" ng-minlength="5"></textarea>
        <textarea
                ng-repeat="option in question.options"
                ng-model="option.optionValue"
                class="question-option"></textarea>
        <div ng-click="question.addOption()" ng-show="question.remainingOptions" class="option-tap">
            <span class="icon-add"></span>
            <span class="tap-text">Add answer option</span>
        </div>
        <button
                id="submit-button"
                type="submit"
                class="bottom-button"
                ng-disabled="questionForm.$invalid"
                click-link="submitted"
                ng-click="askedQuestions.addQuestion(question); question = questionPrototype.newQuestion(5)"
                >Ask me now!</button>
    </form>
</div>